<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>graphique</title>

</head>
<body>
    <h1>Graphe_controller TEST DU KHI2 (Distribution normale du nombre moyen de succès ) </h1>
    <canvas id="myChart1"></canvas>
    
    <script> 

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
        // The type of chart we want to create
            type: 'line',

        // The data for our dataset
        data: {
            labels: {{ labels1|safe }},
            datasets: [{
                label: 'A/B testing Challenger',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ data1 }},
                alpha:0.5
            
                
            }]
        },
    
        // Configuration options go here
        options: {}
        });
    </script>
</body>

<body>
    <h1>Graphe_challenger TEST DU KHI2 </h1>
    <canvas id="myChart2"></canvas>
    <script>

        var ctx2=document.getElementById('myChart2').getContext('2d');
        var myChart2= new Chart(ctx2, {

            type:'line',

        data: {
            labels : {{ labels2|safe }},
            datasets: [{
                label: 'A/B Testing Controller',
                backgroundColor: 'rgba(255, 159, 64, 1)',
                borderColor: 'rgba(255, 159, 64, 1)',
                data: {{ data2 }},
                alpha:0.5
            }]
        },
        options: {}
        });
    </script>

</body>
</html>
